@font-face {
  src: url(/assets/fonts/Roboto-Regular.woff);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(/assets/fonts/Roboto-Medium.woff);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url(/assets/fonts/Roboto-Bold.woff);
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
}
html {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin-right: 8%;
  margin-left: 8%;
}

section {
  margin-top: 7%;
}

.header .header-menu {
  display: flex;
  padding: 15px;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
}
.header .header-menu__logo {
  margin-left: 220px;
}
.header .header-menu__nav {
  width: 50vw;
  margin-right: 220px;
}
.header .header-menu__nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 25px;
  padding: 10px;
}
.header .header-menu__list-item a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0B0706;
  text-decoration: none;
}
.header .header-description {
  padding: 55px;
  background-image: url("/assets/images/BG.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.header .header-description__title {
  margin-left: 60px;
  margin-top: 50px;
  padding: 10px;
  width: 50vw;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #FFFFFF;
}
.header .header-description__button {
  width: 148px;
  height: 51px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1D2130;
  border-color: #FFFFFF;
  background: #FFFFFF;
  backdrop-filter: blur(40px);
  margin-left: 75px;
}
.header .header-description__play {
  position: relative;
  margin-left: 110px;
  margin-top: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.header .header-description__play::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -35px;
  background-image: url(/assets/images/Play.svg);
  background-repeat: no-repeat;
  height: 30px;
}
.header .header-description__set-line {
  display: flex;
  margin-left: 100px;
  margin-top: 60px;
}
.header .header-description__planted {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
}
.header .header-description__line-img {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  height: 3px;
  width: 60vw;
}
.header .header-description__donations {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .header .header-menu__burger {
    position: relative;
    margin-top: 15px;
    width: 40px;
    height: 35px;
    display: block;
  }
  .header .header-menu__burger span, .header .header-menu__burger:after, .header .header-menu__burger:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #1D2130;
    margin: 0 auto;
  }
  .header .header-menu__burger span {
    top: 11px;
  }
  .header .header-menu__burger:after, .header .header-menu__burger:before {
    content: "";
  }
  .header .header-menu__burger:after {
    bottom: 14px;
  }
  .header .header-menu__burger:before {
    top: 5px;
  }
  .header .header-menu__logo {
    margin-left: 5px;
    margin-top: 10px;
  }
  .header .header-menu__nav {
    display: none;
  }
  .header .header-menu__list-item a {
    font-weight: 600;
    font-size: 14px;
  }
  .header .header-description {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-image: url("/assets/images/BG.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .header .header-description__title {
    margin-left: 20px;
    padding: 5px;
    width: 50vw;
    font-size: 40px;
  }
  .header .header-description__button {
    width: 148px;
    height: 51px;
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1D2130;
    border-color: #FFFFFF;
    background: #FFFFFF;
    backdrop-filter: blur(40px);
    margin-left: 20px;
  }
  .header .header-description__play {
    margin-left: 60px;
  }
  .header .header-description__set-line {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 50px;
  }
  .header .header-description__line-img {
    width: 50vw;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header .header-menu__logo {
    margin-left: 70px;
  }
  .header .header-menu__nav {
    margin-left: 30px;
  }
  .header .header-description__title {
    margin-left: 20px;
    padding: 5px;
    width: 50vw;
    font-size: 40px;
  }
  .header .header-description__button {
    margin-left: 20px;
  }
  .header .header-description__play {
    margin-left: 60px;
  }
  .header .header-description__set-line {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 50px;
  }
  .header .header-description__line-img {
    width: 50vw;
  }
}
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
}

h3 {
  display: flex;
  align-items: center;
}
h3 .block-title__line {
  width: 72px;
  height: 0px;
  border: 2px solid #1D2130;
  margin-right: 24px;
}
h3 .block-title__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D2130;
}

.button {
  width: 148px;
  height: 51px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1D2130;
  border-color: #FFFFFF;
  background: #FFFFFF;
  backdrop-filter: blur(40px);
  background: #70C174;
}

.projects__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1D2130;
}

.projects-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  flex-wrap: wrap;
}
.projects-cards__card1, .projects-cards__card2, .projects-cards__card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 48px 48px 48px;
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
}
.projects-cards__card1__card1:hover, .projects-cards__card2__card1:hover, .projects-cards__card3__card1:hover {
  background: #0B0706;
  opacity: 0.5;
}
.projects-cards__card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #FFFFFF;
  margin: 0%;
}
.projects-cards__card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 64px;
}
.projects-cards__button {
  width: 148px;
  height: 51px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1D2130;
  border-color: #FFFFFF;
  background: #FFFFFF;
  backdrop-filter: blur(40px);
}
.projects-cards__card1 {
  background-image: url("/assets/images/wood.png");
}
.projects-cards__card2 {
  background-image: url("/assets/images/weekly.png");
}
.projects-cards__card3 {
  background-image: url("/assets/images/wildlife.png");
}

.projects-part2 {
  display: flex;
  margin-top: 96px;
  margin-right: -10%;
  margin-left: -10%;
  padding-left: 7%;
  background-color: #0B0706;
}
.projects-part2__donations {
  display: flex;
  flex-direction: column;
  width: 58%;
  margin-top: 56px;
  padding-right: 5%;
}
.projects-part2__donations__title-white {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;
}
.projects-part2__donations__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.6;
  margin-bottom: 5%;
  color: #FFFFFF;
}
.projects-part2__donations__parts {
  display: flex;
  flex-wrap: wrap;
}
.projects-part2__donations__part {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.projects-part2__donations #kubik-form {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-right: 8px;
}
.projects-part2__donations .kubik-text {
  margin-right: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
.projects-part2__donations .kubik1 {
  background: #BEF3C0;
}
.projects-part2__donations .kubik2 {
  background: #AC94F1;
}
.projects-part2__donations .kubik3 {
  background: #FFF0CA;
}
.projects-part2__donations .kubik4 {
  background: #F9CF64;
}
.projects-part2__donations .kubik5 {
  background: #F38FBF;
}
.projects-part2__chart {
  margin: 96px 0 96px 5%;
}
.projects-part2__chart-circle__img {
  width: 90%;
}

@media screen and (max-width: 931px) {
  .projects-cards {
    grid-template-columns: none;
  }
}
@media screen and (max-width: 768px) {
  .projects-part2__donations {
    width: 100%;
  }
  .projects-part2__chart {
    display: none;
  }
}
.footer {
  color: red;
}

/*# sourceMappingURL=index.css.map */
