@font-face {
  src: url(/assets/fonts/Roboto-Regular.woff);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(/assets/fonts/Roboto-Medium.woff);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url(/assets/fonts/Roboto-Bold.woff);
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
}
html {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-menu {
  display: flex;
  padding: 15px;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
}
.header-menu__logo {
  margin-left: 220px;
}
.header-menu__nav {
  width: 50vw;
  margin-right: 220px;
}
.header-menu__nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 25px;
  padding: 10px;
}
.header-menu__list-item a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0B0706;
  text-decoration: none;
}

.header-description {
  padding: 55px;
  background-image: url("/assets/images/BG.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.header-description__title {
  margin-left: 60px;
  margin-top: 50px;
  padding: 10px;
  width: 50vw;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #FFFFFF;
}
.header-description__button {
  width: 148px;
  height: 51px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1D2130;
  border-color: #FFFFFF;
  background: #FFFFFF;
  backdrop-filter: blur(40px);
  margin-left: 75px;
}
.header-description__play {
  position: relative;
  margin-left: 110px;
  margin-top: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.header-description__play::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -35px;
  background-image: url(/assets/images/Play.svg);
  background-repeat: no-repeat;
  height: 30px;
}
.header-description__set-line {
  display: flex;
  margin-left: 100px;
  margin-top: 60px;
}
.header-description__planted {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
}
.header-description__line-img {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  height: 3px;
  width: 60vw;
}
.header-description__donations {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .header-menu__burger {
    position: relative;
    margin-top: 15px;
    width: 40px;
    height: 35px;
    display: block;
  }
  .header-menu__burger span, .header-menu__burger:after, .header-menu__burger:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #1D2130;
    margin: 0 auto;
  }
  .header-menu__burger span {
    top: 11px;
  }
  .header-menu__burger:after, .header-menu__burger:before {
    content: "";
  }
  .header-menu__burger:after {
    bottom: 14px;
  }
  .header-menu__burger:before {
    top: 5px;
  }
  .header-menu__logo {
    margin-left: 5px;
    margin-top: 10px;
  }
  .header-menu__nav {
    display: none;
  }
  .header-menu__list-item a {
    font-weight: 600;
    font-size: 14px;
  }
  .header-description {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-image: url("/assets/images/BG.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .header-description__title {
    margin-left: 20px;
    padding: 5px;
    width: 50vw;
    font-size: 40px;
  }
  .header-description__button {
    width: 148px;
    height: 51px;
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1D2130;
    border-color: #FFFFFF;
    background: #FFFFFF;
    backdrop-filter: blur(40px);
    margin-left: 20px;
  }
  .header-description__play {
    margin-left: 60px;
  }
  .header-description__set-line {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 50px;
  }
  .header-description__line-img {
    width: 50vw;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header-menu {
    margin-left: auto;
    margin-right: auto;
  }
  .header-menu__logo {
    margin-left: 70px;
  }
  .header-menu__nav {
    margin-left: 30px;
  }
  .header-description__title {
    margin-left: 20px;
    padding: 5px;
    width: 50vw;
    font-size: 40px;
  }
  .header-description__button {
    margin-left: 20px;
  }
  .header-description__play {
    margin-left: 60px;
  }
  .header-description__set-line {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 50px;
  }
  .header-description__line-img {
    width: 50vw;
  }
}
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
}

h3 {
  display: flex;
  align-items: center;
}
h3 .block-title__line {
  width: 72px;
  height: 0px;
  border: 2px solid #1D2130;
  margin-right: 24px;
}
h3 .block-title__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D2130;
}

.button {
  width: 148px;
  height: 51px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1D2130;
  border-color: #FFFFFF;
  background: #FFFFFF;
  backdrop-filter: blur(40px);
  background: #70C174;
}

.footer {
  color: red;
}

.contacts-description {
  background-color: #EBF0F9;
  display: flex;
}
.contacts-description__contact {
  margin-left: 206px;
  margin-right: 50px;
  padding: 70px;
}
.contacts-description__title {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D2130;
}
.contacts-description__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #1D2130;
}
.contacts-description__questiont {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1D2130;
  opacity: 0.7;
}

.contacts-adress {
  margin-top: 30px;
  margin-right: 350px;
  padding: 15px;
  width: 30vw;
}
.contacts-adress__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  color: #1D2130;
}
.contacts-adress .contacts-adress-description {
  display: flex;
}
.contacts-adress__tel {
  margin-right: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  color: #525560;
}
.contacts-adress__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  color: #525560;
}

.contacts-adress__titlee-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #1D2130;
}

.contacts-adress__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
}

.contacts-adress__title-office {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #1D2130;
}

.contacts-adress__text-street {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
}

@media (max-width: 767px) {
  .contacts-description {
    flex-direction: column;
    flex: 0 0 auto;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts-description__contact {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
  }
  .contacts-description__title {
    font-size: 0.9em;
  }
  .contacts-description__text {
    font-size: 3em;
  }
  .contacts-description__questiont {
    font-size: 0.9em;
  }
  .contacts-adress {
    margin-top: auto;
    margin-right: auto;
    padding: 5px;
    width: 100vw;
  }
  .contacts-adress__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #1D2130;
  }
  .contacts-adress .contacts-adress-description {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contacts-description {
    flex-direction: column;
    flex: 0 0 auto;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts-description__contact {
    margin-left: 50px;
    margin-right: 5px;
    padding: 10px;
  }
  .contacts-description__title {
    font-size: 0.9em;
  }
  .contacts-description__text {
    font-size: 3em;
  }
  .contacts-description__questiont {
    font-size: 0.9em;
  }
  .contacts-adress {
    margin-left: 50px;
    padding: 5px;
    width: 100vw;
  }
  .contacts-adress__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #1D2130;
  }
}

/*# sourceMappingURL=index.css.map */
