@font-face {
    src: url(/assets/fonts/Roboto-Regular.woff);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url(/assets/fonts/Roboto-Medium.woff);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}

@font-face {
    src: url(/assets/fonts/Roboto-Bold.woff);
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
}