.connection{

    padding: vw(96);
    margin-left: 10%;
    margin-right: 10%;
    &-form{
    display: flex;

    &__name {
        width: 50%;
    }

        &__firstname {
            padding: 5px;
            margin: 0 0 35px 0;
        }
        
        &__namefirst{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 160%;
        color: $color-lblack;
        opacity: 0.6;
        }
        &__input-name{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 160%;
        border-top: none;
        border-left: none;
        border-right: none;
    
        color: $color-lblack;
        }


        &__namelast{
            padding: 5px;
            }
        &__lastname{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 19px;
            line-height: 160%;
            color: $color-lblack;
            opacity: 0.6;
        }
    
    &__lastname-input{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 160%;
    border-top: none;
    border-left: none;
    border-right: none;
    
    color: $color-lblack;
    }

    &__email{
        padding: 5px;
        margin:  0 0 35px 0;
    }

&__email-name{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 160%;
color: $color-lblack;
opacity: 0.6;
}

    &__emailid{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 160%;
    color: $color-lblack;
    border-top: none;
    border-left: none;
    border-right: none;
}


&__subject{
    padding: 5px;
}

&__subject-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 160%;
    color: $color-lblack;
    opacity: 0.6;
}

&__subject-input{
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}
    }

.connection-form__message{
    margin-top: 60px;

.connection-form__text{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 160%;
color: $color-lblack;
opacity: 0.6;
}

    .connection-form__input-text{
        width: 100%;
        height: 200px;
        padding-top: 5px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: $color-lblack;
        opacity: 0.6;
        }
    }
}
@media (max-width: 767px) {

    .connection{

        &-form{
            flex-direction: column;
    
            &__firstname {
                margin: 10px 10px;
            }
            
            &__namelast{
                margin: 10px 10px;
            }

        &__email{
            margin: 10px 10px;
            }
    
&__subject{
        margin: 10px 10px;
    }
}
            .connection-form__text{
                margin-left: 20px;
        }
        }
    }


@media (min-width: 768px) and (max-width: 1023px){
    .connection{

        &-form{
        justify-content: center;
        margin-top: 30px;
    
            &__firstname {
                margin: 10px 10px;
            }
            
            &__namelast{
                margin: 10px 10px;
            }

        &__email{
            margin: 10px 10px;
        }
    
&__subject{
        margin: 10px 10px;
    }
}

    }
}

