h2 {
@include h2-title;
}

h3 {
    @include block-title;

}

.button {
    @include button;
    background: $color-dgreen;
}

.projects-part1 {
  padding: vw(120);
}

.projects__title {
    @include h2-title;
    color: $color-lblack;
  }
  
.projects-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: vw(24);
    flex-wrap: wrap;
  
    &__card1, &__card2, &__card3 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20% 15% 15% 15%;
      border-radius: 12px;
      background-size: cover;
      background-repeat: no-repeat;
  
      &__card1:hover {
        background: $color-black;
        opacity: 0.5;
      }
    }
  
    &__card-title{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 150%;
      color: $color-white;
      margin: 0%;
    }
  
    &__card-text {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $color-white;
      margin-bottom: 64px;
    }
  
    &__button {
      @include button;
    }
  
    &__card1 {
      background-image: url("/assets/images/wood.png");
    }
    &__card2 {
      background-image: url("/assets/images/weekly.png");
    }
    &__card3 {
      background-image: url("/assets/images/wildlife.png");
    }
  }
  
  .projects-part2 {
    display: flex;
    padding-left: vw(120);
    background-color: $color-black;
  
    &__donations {
      display: flex;
      flex-direction: column;
      width: 58%;
      margin-top: 56px;
      padding-right: 5%;
      padding-bottom: 5%;
  
      &__title-white {
        @include h2-title;
        color: $color-white;
      }
      &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        opacity: 0.6;
        margin-bottom: 5%;
        color: $color-white;
      }
  
      &__parts {
        display: flex;
        flex-wrap: wrap;
      }
      &__part {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
      
        #kubik-form{
          width: 16px;
          height: 16px;
          border-radius: 4px;
          margin-right: 8px;
        }
        .kubik-text {
          margin-right: 24px;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 160%;
          color: $color-white;
        }
  
        .kubik1 {
          background: $color-green;
          }
          .kubik2 {
            background: #AC94F1;
            }
            .kubik3 {
              background: #FFF0CA;
              }
              .kubik4 {
                background: #F9CF64;
                }
                .kubik5 {
                  background: #F38FBF;
  
                  }
    }
  
    &__chart {
      margin: vw(96) 0 vw(96) 5%;
    }
    &__chart-circle__img{
      width: 90%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px)  {
    .projects-cards{
      grid-template-columns: 1fr 1fr;
    }

    .projects-part2__donations {
      width: 100%;
      &__title-white{
        margin-left: 20px;
        padding: 5px;
        width: 50vw;
        font-size: 40px;
      }
    }
    }
  
  
  @media screen and (max-width: 768px) {
    .projects-cards{
      grid-template-columns: none;
  
    }

    .projects-part2__chart {
      display: none;
    }
  }
  
