$color-dgreen: #70C174;
$color-green: #BEF3C0;
$color-lgreen: #EFF7F2;
$color-black: #0B0706;
$color-lblack: #1D2130;
$color-dgray: #525560;
$color-lgray: #EBF0F9;
$color-grey: #E5E5E5;
$color-offwhite: #EBF0F9;
$color-white:  #FFFFFF;
$font-stack:    Roboto, normal;
